.row-striped:nth-of-type(odd){
  background-color: #565656;
  border-left: 4px #333333 solid;
}

.row-striped:nth-of-type(even){
  background-color: #999999;
  border-left: 4px #efefef solid;
}

.row-striped {
    padding: 15px 0;
}

.badge {
  background-color: #373737;
}

.text-uppercase {
    font-size: 23px;
}

.align-right {
    position: absolute;
    right: 0px;
    top: 40px;
    width: 450px;
    padding: 40px;
}
