
ul#menu_horizontal li {
    display : inline;
    padding : 0 0.8em; /* Pour espacer les boutons entre eux */
}

ul#menu_horizontal {
    list-style-type : none; /* Car sinon les puces se placent n'importe où */
    font-weight: bold;
}
