/* change the background color */
.navbar-custom,
.navbar-custom .navbar-toggler{
    background-color: #00435f;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .btn .btn-outline-success,
.navbar-custom .btn
{
	color: #fab810;
	border-color: #fab810;
}

{%load static %}
.background-custom{
	background-image: url("https://www.epita.fr/wp-content/uploads/2019/04/trophee-excellencia-constellation.jpg");
	}

.inbetween-bar{
	position: absolute;
	right: 40%;
	bottom: 30%;
	width: 20px;
	height: 500px;
	background-color: #000000;
	transform: rotate(100deg);
}



/*spolight stuff */
@media (min-width:992px) {
    .spotlight {
        display: block
    }

    .spotlight-container {
        position: absolute;
        top: 6.9%;
        right: 0;
        display: block;
        width: 70%;
        height: 800px;
        overflow: hidden
    }

    .header.isfixed .spotlight-container {
        display: none
    }

    .spotlight {
        position: relative;
        right: -10%;
        width: 90%;
        height: 100%
    }

    .spotlight__img-container {
        overflow: hidden;
        width: 120%;
        height: 100%;
        transform: skewX(10deg);
        background-size: cover;
        border-left: 3px solid #1D6188
    }

    .spotlight__img-container:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #00415E;
        opacity: .4
    }

    .spotlight__img {
        position: relative;
        left: -10%;
        display: block;
        width: 100%;
        height: 100%;
        transform: skewX(-10deg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center
    }

    .spotlight-link {
        position: absolute;
        display: table;
        width: 100%;
        left: 0;
        bottom: 30px;
        right: 0;
        padding: 10px 30px 10px 30px;
        background: #fff;
        color: #00415E;
        font-size: 20px;
        font-size: 2rem;
        line-height: normal
    }

    .spotlight-link:hover, .spotlight-link:focus, .spotlight-link:active {
        text-decoration: none
    }

    .spotlight-title {
        display: table-cell;
        font-family: "robotoregular"
    }

    .spotlight-date {
        display: table-cell;
        text-align: right;
        font-family: "robotomedium"
    }
}

.spotlight-link--green {
    background: #02FF9E
}

.spotlight-link--blue {
    background: #15D4F7
}

.spotlight-link--red {
    background: #FF6862
}

.spotlight-link--yellow {
    background: #FFD802
}



body{
	background-color: #0d2436;
}
.footer{
	background-color: #00435f;
}

.dot {
    height : 250px;
    width: 250px;
    background-color: #9dc8ec;
    border-radius: 50%;
    display: inline-block;
    position:absolute;
    z-index:3;
    left:42%;
    top:35%;
}

.title {
    padding-left:50px;
    padding-top:95px;
    font-size:40px;
    color:#00435f;
}
