img {
    border-radius: 10px;
    max-width: 60%;
    height: auto;
}

.asso {
    float: left;
    width: 25%;
    padding-top:20px;
}

.fieldWrapper {
    padding-bottom:10px;
}

table {
    text-align: center;
    border-collapse: collapse;
    width:600px;
}

td {
    margin-top: 2%;
}

th {
    font-size: 130%;
    margin: 2%;
    padding-bottom: 3%;
}

.table-bordered{
    position: relative;
    top: 100px;
    padding-left: 0px;
    margin-left: 10px;

}





.nav {
    background: #000000;
    height: 80px;
    width: 100%;
    text-align: center;
    transition: background .5s;
}

.nav ul{
    height: 80px;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.nav ul li{
    color: #ffffff;
    display: inline-block;
    height: 800px;
    line-height: 80px;
    list-style: none;
    padding: 0 10px;
}

.nav ul li:hover {
  background: #117bff;
  cursor: pointer;
  transition: background .5s;
}




.bg {
  /* The image used */
  background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
    color: white;
}
