
.container {
    margin: 0 auto;
    max-width: 940px;
    padding: 0 10px;
}

.header {

    font-weight: 100;
    background: url(
        https://live.staticflickr.com/65535/46907066634_b69d15cffa_z.jpg) no-repeat
;
    background-size: cover;
    height: 800px;
    text-align: center;
}

.header .container{
    position: relative;
    top: 200px;
    border: 3px solid #F0F8FF;
}

.header .container h1{
    color: #F0F8FF;
    line-height: 100px;
    font-size: 80px;
    margin-top: 0;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.header .container p{
    color: #F0F8FF;
    line-height: 1px;
    text-transform: uppercase;
}


.nav {
    background: #000000;
    height: 80px;
    width: 100%;
    text-align: center;
    transition: background .5s;
}

.nav ul{
    height: 80px;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.nav ul li{
    color: #ffffff;
    display: inline-block;
    height: 800px;
    line-height: 80px; 
    list-style: none;
    padding: 0 10px;
}

.nav ul li:hover {
  background: #117bff;
  cursor: pointer; 
  transition: background .5s;  
}

