{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="author" content="">
		<title>Première connexion</title>


		<!--Bootstrap link to make it work-->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

		<link rel="stylesheet" type="text/css" href="{% static 'asso.css' %}">

		{% include 'try_menu.html' with is_admin=is_administration %}
	</head>

	<body>
		<div class="container col-sm-8 text-white text-center">
            
            <hr>
            <div class="shadow-lg p-3 mb-5 rounded" style="background-color: transparent;">
            	<h1>Première connexion</h1>
 			</div>	

			<div class="card" style="background-color: transparent;">
			  <div class="card-header">
			    
			  </div>
			  <div class="card-body">
			    <h5 class="card-title">Bonjour {{ user.first_name }}. </h5>
			    <p class="card-text">Afin de pouvoir commencer à utiliser ce site, veuillez renseigner une passphrase, elle vous sera redemandé à chaque fois que vous voudrez signer.</p>


            <div class="text-light">
		    	<form action="/passphrase/" method="POST" enctype="multipart/form-data" style='padding-top:15px;'>
		        {% csrf_token %}
		        <!--{{ form }}-->
					{{ form.non_field_errors }}
					<div class="fieldWrapper">
						{{ form.passphrase.errors }}
						<label for="{{ form.passphrase.id_for_label }}">Passphrase :</label>
						{{ form.passphrase }}
					</div>
		        	<br/>
		        	<input type="submit" value="Submit">
		    	</form>
			</div>
			</div>
        </div>

	</body>