{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="author" content="">
		<title>Téléchargement Signature</title>


		<!--Bootstrap link to make it work-->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

		<link rel="stylesheet" type="text/css" href="{% static 'asso.css' %}">

		{% include 'try_menu.html' with is_admin=is_administration %}
	</head>

	<body>
		<div class="container col-sm-8 text-white text-center">

            <hr>
            <div class="shadow-lg p-3 mb-5 rounded" style="background-color: transparent;">
            	<h1>Première connexion</h1>
 			</div>

			<div class="card" style="background-color: transparent;">
			  <div class="card-header">

			  </div>
			  <div class="card-body">
			    <h5 class="card-title">Bonjour {{ user.first_name }}. </h5>
			    <p class="card-text">Merci de bien vouloir importer votre paraphe.</p>


            <div class="text-light">
		    	<form action="/signature/" method="POST" enctype="multipart/form-data" style='padding-top:15px;'>
		        {% csrf_token %}
		        <!--{{ form }}-->
		        	{{ form.non_field_errors }}
		        	<div class="fieldWrapper">
		            	{{ form.logo.errors }}
		            	<label for="{{ form.logo.id_for_label }}">Signature:</label>
		            	{{ form.logo }}
		            	<p>
		                	<input id="id_image" type="file" class="" name="image">
		            	</p>
                  <p id="demo"></p>
                  <pre id="file-content" style="color:white;"></pre>
		        	</div>
		        	<br/>
		        	<input type="submit" value="Submit">

		    	</form>
			</div>
			</div>
        </div>
	</body>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<script>
var key = "";

function readSingleFile(e) {
    var file = e.target.files[0];
    if (!file) {
        return;
    }
    var reader = new FileReader();
    reader.onload = function(e) {
        var contents = e.target.result;
        var res = encrypt(contents);
        res.then(r => {
            //alert("res end = " + r);
            //alert("key end = " + key);
        });
    };
    reader.readAsText(file);
}

function displayContents(contents) {
    var element = document.getElementById("file-content");
    element.textContent = contents;
}

document.getElementById('id_image').addEventListener('change', readSingleFile, false);


function encrypt(content) {
    var encoder = new TextEncoder('utf-8');
    var dataArrayBufferView = encoder.encode(content);

    var result = new ArrayBuffer();

    var aesAlgorithmKeyGen = {
        name: "AES-GCM",
        length: 128,
    };

    var aesAlgorithmEncrypt = {
        name: "AES-GCM",
        iv: window.crypto.getRandomValues(new Uint8Array(16))
    };

    return window.crypto.subtle.generateKey(aesAlgorithmKeyGen, true, ["encrypt", "decrypt"])
    .then ((aesKey) => {
            key = String(aesKey);
            return window.crypto.subtle.encrypt(aesAlgorithmEncrypt, aesKey, dataArrayBufferView);
        }
    ).then(ciphertext => {
            return ciphertext;
        }
    );
}
</script>
