{% load static %}


<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="{% static 'style2.css' %}"/>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

		<link href="cover.css" rel="stylesheet">
		
		{% include 'try_menu.html' with is_admin=is_administration %}
	</head>

	<body class="text-center background-custom">
		<header class="has-spotlight">

			<div class="header-video"><video playsinline="" autoplay="" loop="" muted="" poster="https://www.epita.fr/wp-content/themes/epita/assets/img/background-toptitle.jpg" id="bgvid-header" class="header-video__video"> <source src="https://www.epita.fr/wp-content/themes/epita/assets/video/header.mp4" type="video/mp4"></video></div>
			<div class="spotlight-container">
				<div class="spotlight">
					<div class="spotlight__img-container">
						<div data-bg="url(https://www.epita.fr/wp-content/uploads/2019/04/trophee-excellencia-constellation.jpg)" class="spotlight__img rocket-lazyload" no-repeat style="background-image: url(&quot;https://www.epita.fr/wp-content/uploads/2019/04/trophee-excellencia-constellation.jpg&quot);" title="" data-was-processed="true">
							
						</div>
					</div>
				</div>
			</div>
		</header>
    	<div class="site-wrapper">

	      <div class="site-wrapper-inner background-custom">

	        <div class="container">
	          <div class="inner cover text-color-custom">
	            <h1 class="cover-heading">EVENTS</h1>
	            <p class="lead">Tenez-vous au courant de tous les nouveaux Events !</p>        
	          </div>
	        </div>

	      </div>

	    </div>

	    <footer class="mastfoot mt-auto">
    			<div class="inner">
					<p>Créé par des étudiants d'EPITA.</p>
				</div>
  			</footer>

	</body>
</html>
