{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

{% include 'try_menu.html' %}

<div style="margin-top:4%;">
    <a href="/create_asso">Creer une association</a>
</div>

<div style="margin-top:4%;">
    <!-- Hard code: le rendu voulu a peu pres -->
    <div class="asso">
        <h3>Gconfs</h3>
        <img src="{% static 'images/image_gconfs.png' %}" alt="gconf image"/>
    </div>
    <div class="asso">
        <h3>VJN</h3>
        <img src="{% static 'images/vjn.png' %}" alt="vjn image"/>
    </div>
    <div class="asso">
        <h3>Ephemere</h3>
        <img src="{% static 'images/ephemere.png' %}" alt="ephemere image"/>
    </div>
    <div class="asso">
        <h3>Prologin</h3>
        <img src="{% static 'images/prologin.jpg' %}" alt="prologin image"/>
    </div>
    <div class="asso">
        <h3>Soul of Sound</h3>
    </div>
    <div class="asso">
        <h3>Epimac</h3>
    </div>
</div>

<!-- A partir de la base de donnée -->
<div style="margin-top:3%;">
    {% if associations %}
        <table>
            <thead>
                <tr>
                    <th colspan="3">Associations</th>
                </tr>
                <tr>
                    <th>Name</th>
                    <th>Creation Date</th>
                    <th>Logo</th>
                </tr>
            </thead>
            <tbody>
                {% for asso in associations %}
                    <tr>
                        <td>{{ asso.name }}</td>
                        <td>{{ asso.creation_date }}</td>
                        <td><img src={{ asso.image }}></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No associations available</p>
    {% endif %}
</div>



<div class="row">
    <div class="card text-center" style="width: 18rem;">
        <div class="text-center">
            <img class="card-img-top" src="{% static 'images/image_gconfs.png' %}" alt="Card image cap">
        </div>
        <div class="card-body">
            <h5 class="card-title">Gconfs</h5>
            <p class="card-text">Gconfs est une association qui promeut le partage de connaissances entre étudiants.</p>
            <a href="#" class="btn btn-primary">Plus d'information</a>
        </div>
    </div>
    <div class="card text-center" style="width: 18rem;">
        <div class="text-center">
            <img class="card-img-center" src="{% static 'images/vjn.png' %}" alt="Card image cap">
        </div>
        <div class="card-body">
            <h5 class="card-title">VJN</h5>
            <p class="card-text">VJN est une association dont le principal rôle est de mettre en place sur le plan organisationnel et logistique des soirées détentes pour les étudiants, en leur proposant diverses activités en partenariat avec les autres associations. .</p>
            <a href="#" class="btn btn-primary">Plus d'information</a>
        </div>
    </div>

    <div class="card text-center" style="width: 18rem;">
        <div>
            <img class="card-img-center" src="{% static 'images/ephemere.png' %}" alt="Card image cap">
        </div>
        <div class="card-body">
            <h5 class="card-title">Ephemere</h5>
            <p class="card-text">Ephemere, c’est le club de photographie sur le campus numérique Paris Sud du groupe IONIS Institute of Technology.</p>
            <a href="#" class="btn btn-primary">Plus d'information</a>
        </div>
    </div>

    <div class="card text-center" style="width: 18rem;">
        <div>
            <img class="card-img-center" src="{% static 'images/prologin.jpg' %}" alt="Card image cap">
        </div>
        <div class="card-body">
            <h5 class="card-title">Prologin</h5>
            <p class="card-text">Prologin est une association qui organise le Concours National d'informatique, ouvert aux jeunes de 21 ans et moins.</p>
            <a href="#" class="btn btn-primary">Plus d'information</a>
        </div>
    </div>

    <div class="card text-center" style="width: 18rem;">
        <div>
            <img class="card-img-center" src="{% static 'images/Evolutek.jpg' %}" alt="Card image cap">
        </div>
        <div class="card-body">
            <h5 class="card-title">Evolutek</h5>
            <p class="card-text">Prologin est une association qui organise le Concours National d'informatique, ouvert aux jeunes de 21 ans et moins.</p>
            <a href="#" class="btn btn-primary">Plus d'information</a>
        </div>
    </div>


    <div class="card text-center" style="width: 18rem;">
        <div>
            <img class="card-img-center" src="{% static 'images/SoulOfSound.jpg' %}" alt="Card image cap">
        </div>
        <div class="card-body">
            <h5 class="card-title">Soul of Sound</h5>
            <p class="card-text">Prologin est une association qui organise le Concours National d'informatique, ouvert aux jeunes de 21 ans et moins.</p>
            <a href="#" class="btn btn-primary">Plus d'information</a>
        </div>
    </div>

    <div class="card text-center" style="width: 18rem;">
        <div>
            <img class="card-img-center" src="{% static 'images/SoulOfSound.jpg' %}" alt="Card image cap">
        </div>
        <div class="card-body">
            <h5 class="card-title">Soul of Sound</h5>
            <p class="card-text">Prologin est une association qui organise le Concours National d'informatique, ouvert aux jeunes de 21 ans et moins.</p>
            <a href="#" class="btn btn-primary">Plus d'information</a>
        </div>
    </div>


    <div class="card text-center" style="width: 18rem;">
        <div>
            <img class="card-img-center" src="{% static 'images/SoulOfSound.jpg' %}" alt="Card image cap">
        </div>
        <div class="card-body">
            <h5 class="card-title">Soul of Sound</h5>
            <p class="card-text">Prologin est une association qui organise le Concours National d'informatique, ouvert aux jeunes de 21 ans et moins.</p>
            <a href="#" class="btn btn-primary">Plus d'information</a>
        </div>
    </div>

        <div class="card text-center" style="width: 18rem;">
        <div>
            <img class="card-img-center" src="{% static 'images/SoulOfSound.jpg' %}" alt="Card image cap">
        </div>
        <div class="card-body">
            <h5 class="card-title">Soul of Sound</h5>
            <p class="card-text">Prologin est une association qui organise le Concours National d'informatique, ouvert aux jeunes de 21 ans et moins.</p>
            <a href="#" class="btn btn-primary">Plus d'information</a>
        </div>
    </div>

        <div class="card text-center" style="width: 18rem;">
        <div>
            <img class="card-img-center" src="{% static 'images/SoulOfSound.jpg' %}" alt="Card image cap">
        </div>
        <div class="card-body">
            <h5 class="card-title">Soul of Sound</h5>
            <p class="card-text">Prologin est une association qui organise le Concours National d'informatique, ouvert aux jeunes de 21 ans et moins.</p>
            <a href="#" class="btn btn-primary">Plus d'information</a>
        </div>
    </div>

</div>
