{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

{% include 'try_menu.html' with is_admin=is_administration %}

<link rel="stylesheet" type="text/css" href="{% static 'drop-down-menu.css' %}"/>


<div class="shadow-lg p-3 mb-5 rounded text-center text-white" style="background-color: #0d2436">
    <br>
    <h1>Fiche Association</h1>
</div>
<div class="container">
<div class="text-light" style="padding-top:10px; padding-left:240px;">
    <font size="+10">
        <label>Créer une association</label>
    </font>
    <form action="/create_asso" method="post" enctype="multipart/form-data" style='padding-top:15px;'>
        {% csrf_token %}
        {% if error != "" %}
            <p>Erreur : {{ error }}</p>
        {% endif %}

        {{ form.non_field_errors }}
        <div class="fieldWrapper">
            {{ form.name.errors }}
            <label for="{{ form.name.id_for_label }}">Nom :</label>
            {{ form.name }}
        </div>
        <div class="fieldWrapper">
            {{ form.description.errors }}
            <label for="{{ form.description.id_for_label }}">Description :</label>
            {{ form.description }}
        </div>
        <div class="fieldWrapper">
            {{ form.president.errors }}
            <label for="{{ form.president.id_for_label }}">Président/Présidente :</label>
            {{ form.president }}
            <div id="res1" class="results"></div>
        </div>
        <div class="fieldWrapper">
            {{ form.tresorier.errors }}
            <label for="{{ form.tresorier.id_for_label }}">Trésorier/Trésorière :</label>
            {{ form.tresorier }}
            <div id="res2" class="results"></div>
        </div>
        <div class="fieldWrapper">
            {{ form.secretaire.errors }}
            <label for="{{ form.secretaire.id_for_label }}">Secrétaire :</label>
            {{ form.secretaire }}
            <div id="res3" class="results"></div>
        </div>


        <div class="fieldWrapper">
            {{ form.logo.errors }}
            <label for="{{ form.logo.id_for_label }}">Logo :</label>
            {{ form.logo }}
            <p>
                <input id="id_image" type="file" class="" name="image">
            </p>
        </div>
        <input type="submit" value="Submit">
    </form>
</div>
</div>
<script type="text/javascript" src="/static/auto_completion.js"></script>

<script type="text/javascript">
    autocomp('pres', 'res1', "{{ users }}");
    autocomp('tres', 'res2', "{{ users }}");
    autocomp('secr', 'res3', "{{ users }}");
</script>
