{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>

{% include 'try_menu.html' %}

<div style="margin-top:4%;">
    <div class="link_form_event">
        <a href="/form_event">Créer une fiche évent</a>
    </div>
</div>

<div style="margin-top:4%;">
    {% if events %}
        <table>
            <thead>
                <tr>
                    <th colspan="5">Events</th>
                </tr>
                <tr>
                    <th>Name</th>
                    <th>Asso</th>
                    <th>Date</th>
                    <th>Respo</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for e in events %}
                    <tr>
                        <td>{{ e.name }}</td>
                        <td>{{ e.association_id }}</td>
                        <td>{{ e.date }}</td>
                        <td>{{ e.respo_id }}</td>
                        <td>{{ e.description }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p> No events available</p>
    {% endif %}
</div>
