
{% load static %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="">
    <title>Fiche Event</title>


    <!--Bootstrap link to make it work-->
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="{% static 'drop-down-menu.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'scrolling_checkbox.css' %}"/>

    {% include 'try_menu.html' with is_admin=is_administration %}
  </head>

  <body>
        <div class="shadow-lg p-3 mb-5 rounded text-center text-white" style="background-color: #0d2436">
            <hr>
            <h1>Fiche évent</h1>
        </div>

        <div class="text-light text-center" style="padding-top:10px; padding-left:35px;">
            <font size="+10">
                <label>Créer un nouvel event</label>
            </font>
            <form action="/form_event" method="post" style='padding-top:15px;'>
                {% csrf_token %}
                {% if error != "" %}
                    <p>Erreur : {{ error }}</p>
                {% endif %}

                {{ form.non_field_errors }}
                <div class="fieldWrapper">
                    {{ form.name.errors }}
                    <label for="{{ form.name.id_for_label }}">Nom :</label>
                    {{ form.name }}
                </div>
                <div class="fieldWrapper">
                    {{ form.date.errors }}
                    <label for="{{ form.date.id_for_label }}">Date :</label>
                    {{ form.date }}
                </div>
                <div class="fieldWrapper">
                    {{ form.hour_begin.errors }}
                    <label for="{{ form.hour_begin.id_for_label }}">Horaire début :</label>
                    {{ form.hour_begin }}
                </div>
                <div class="fieldWrapper">
                    {{ form.hour_end.errors }}
                    <label for="{{ form.hour_end.id_for_label }}">Horaire fin :</label>
                    {{ form.hour_end }}
                </div>
                <div class="fieldWrapper">
                    {{ form.association.errors }}
                    <label for="{{ form.association.id_for_label }}">Association :</label>
                    {{ form.association }}
                    <div id="res1" class="results"></div>

                </div>
                <div class="fieldWrapper">
                    {{ form.recurrence.errors }}
                    <label for="{{ form.recurrence.id_for_label }}">Récurrence :</label>
                    {{ form.recurrence }}
                </div>
                <div class="fieldWrapper">
                    {{ form.frequence.errors }}
                    <label for="{{ form.frequence.id_for_label }}">Fréquence :</label>
                    {{ form.frequence }}
                </div>
                <div class="fieldWrapper">
                    {{ form.frequence_end.errors }}
                    <label for="{{ form.frequence_end.id_for_label }}">Fin de récurrence :</label>
                    {{ form.frequence_end }}
                </div>
                <div class="fieldWrapper">
                    {{ form.respo_name.errors }}
                    <label for="{{ form.respo_name.id_for_label }}">Responsable sur place :</label>
                    {{ form.respo_name }}
                    <div id="res2" class="results"></div>
                </div>
                <div class="fieldWrapper">
                    {{ form.respo_class.errors }}
                    <label for="{{ form.respo_class.id_for_label }}">Classe du responsable :</label>
                    {{ form.respo_class }}
                </div>
                <div class="fieldWrapper">
                    {{ form.tutor_name.errors }}
                    <label for="{{ form.tutor_name.id_for_label }}">Tuteur :</label>
                    {{ form.tutor_name }}
                    <div id="res3" class="results"></div>
                </div>
                <div class="fieldWrapper">
                    {{ form.nb_students.errors }}
                    <label for="{{ form.nb_students.id_for_label }}">Nombre d'élèves :</label>
                    {{ form.nb_students }}
                </div>
                <div class="fieldWrapper">
                    {{ form.nb_members.errors }}
                    <label for="{{ form.nb_members.id_for_label }}">Nombre de membres :</label>
                    {{ form.nb_members }}

                <div class="fieldWrapper">
                    {{ form.nb_externs.errors }}
                    <label for="{{ form.nb_externs.id_for_label }}">Nombre d'externes :</label>
                    {{ form.nb_externs }}
                </div>
                <div class="fieldWrapper">
                    {{ form.description.errors }}
                    <label for="{{ form.description.id_for_label }}">Description :</label>
                    {{ form.description }}
                </div>
                <div class="fieldWrapper">
                    {{ form.insurance.errors }}
                    <label for="{{ form.insurance.id_for_label }}">Assurance :</label>
                    {{ form.insurance }}
                </div>
                <div class="fieldWrapper">
                    <label>VJ :</label>
                    <br>
                    <div class="container">
                    {% for room in rooms.VJ %}
                        {% if room.1 %}
                            <input type="checkbox" name="check_rooms_VJ[]" value="{{ room.0 }}" checked> {{ room.0 }} </input>
                        {% else %}
                            <input type="checkbox" name="check_rooms_VJ[]" value="{{ room.0 }}"> {{ room.0 }} </input>
                        {% endif %}
                    </br>
                    {% endfor %}
                    </div>

                    <br>
                    <label>KB :</label>
                    <br>
                    <div class="container">
                    {% for room in rooms.KB %}
                        {% if room.1 %}
                            <input type="checkbox" name="check_rooms_KB[]" value="{{ room.0 }}" checked > {{ room.0 }}  </input>
                        {% else %}
                            <input type="checkbox" name="check_rooms_KB[]" value="{{ room.0 }}" > {{ room.0 }}  </input>
                        {% endif %}
                    </br>
                    {% endfor %}
                    </div>
                </div>
                <div class="fieldWrapper">
                    {{ form.material.errors }}
                    <label for="{{ form.material.id_for_label }}">Matériel :</label>
                    {{ form.material }}
                </div>
                <div class="fieldWrapper">
                    {{ form.soft_drinks.errors }}
                    <label for="{{ form.soft_drinks.id_for_label }}">Boissons soft :</label>
                    {{ form.soft_drinks }}
                </div>
                <div class="fieldWrapper">
                    {{ form.alcoholic_drinks.errors }}
                    <label for="{{ form.alcoholic_drinks.id_for_label }}">Boissons alcoolisées :</label>
                    {{ form.alcoholic_drinks }}
                </div>
                <div class="fieldWrapper">
                    {{ form.comments.errors }}
                    <label for="{{ form.comments.id_for_label }}">Commentaires :</label>
                    {{ form.comments }}
                </div>

                <input type="submit" name="submit" value="Submit">
                <input type="submit" name="save-brouillon" value="Save Brouillon">
                <input type="submit" name="get-brouillon" value="Get Brouillon">
            </form>
        </div>


            <script type="text/javascript" src="/static/auto_completion.js"></script>

            <script type="text/javascript">
                autocomp('asso', 'res1', "{{ association }}");
                autocomp('respo', 'res2', "{{ users }}");
                autocomp('tutor', 'res3', "{{ administration }}");
            </script>


  </body>
