{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="author" content="">
		<title>Home</title>


		<!--Bootstrap link to make it work-->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

		<link rel="stylesheet" type="text/css" href="{% static 'style2.css' %}">
	</head>

	<body class="page">
		<header class="header has-spotlight">
			<!--Fixed navbar-->
			{% include 'try_menu.html' with is_admin=is_administration %}

{% if is_connected %}
<span class="dot"><p class="title"><a href="/accueil" style="text-decoration:none;">EVENTS</a></p></span>
{% else%}
<span class="dot"><p class="title"><a href="/events" style="text-decoration:none;">EVENTS</a></p></span>
{% endif %}

			<!--Begin page content-->
			<div class="container-fluid">

				<div class="row">
					<div class="header-video">
						<video playsinline="" autoplay="" loop="" muted="" poster="https://www.epita.fr/wp-content/themes/epita/assets/img/background-toptitle.jpg" id="bgvid-header" class="header-video__video">
							<source src="https://www.epita.fr/wp-content/themes/epita/assets/video/header.mp4" type="video/mp4">
						</video>
					</div>

					<!--Girl header-->
					<div class="spotlight-container">
						<div class="spotlight">
							<div class="spotlight__img-container">
								<div data-bg="url(https://www.epita.fr/wp-content/uploads/2019/04/trophee-excellencia-constellation.jpg)" class="spotlight__img rocket-lazyload" style="background-image: url(&quot;https://www.epita.fr/wp-content/uploads/2019/04/trophee-excellencia-constellation.jpg&quot;);" title="" data-was-processed="true">

								</div>
							</div>
						</div>
					</div>

					<div class="container header__content">
						<div class="text-center text-white">
							<h1 class="main-title"></h1>
						</div>
					</div>
				</div>
			</div>



			<footer class="footer">
      			<div class="container text-center text-white">
        			<span class="text-muted">Equipe Yakassoulet©</span>
      			</div>
    		</footer>
		</header>
		<div class="container-fluid">
	</body>
