{% include 'try_menu.html' %}

<div style="margin-top:3%;">
    <h1>Event Site</h1>

    <div style='background-color:aqua;'>
        <p>A block</p>
    </div>

    <div>
        <h3>Calendrier</h3>
    </div>
    <div>
        <h3><a href='/asso'>Associations</a></h3>
    </div>
    <div>
        <h3><a href="/profils">Profils</a></h3>
    </div>
    <div>
        <h3><a href='/form_person'>Inscription & Connexion</a></h3>
    </div>
</div>
