{% load static %}


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>

{% include 'try_menu.html' with is_admin=is_administration %}

<div style="color:white;margin-top:40px;margin-left:30px;">
    {% if list %}
        <h3>Liste des fiches event</h3>
        {% for pdf in list %}
            <p><a href="/show_pdf/{{ pdf }}" style="color:#00BFFF">{{ pdf }}</a></p>
        {% endfor %}
    {% else %}
        <p>Aucune fiche event disponible.</p>
    {% endif %}
</div>
