{% load static %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
{% include 'try_menu.html' with is_admin=is_administration %}

<body>
{% if asso %}
    <div class="container col-sm-8 text-white" style="">

        <div class="shadow-lg p-3 mb-5 rounded text-center text-white" style="background-color: #0d2436">
            <hr>
            <h1>{{ asso.name }}</h1>
        </div>
        
        <div class="card text-center" style="background-color: transparent" >
            <div class="card-header">
            Retirer un membre.
            </div>
            <div class="card-body">
                <div class="media text-center">
                    <div class="row1 text-center">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.member }}
                        <input type="submit" value="retirer">
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
</body>
