{% load static %}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="">
    <title>Events</title>


    <!--Bootstrap link to make it work-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'events.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'calendar.css' %}"/>

    {% include 'try_menu.html' with is_admin=is_administration %}
  </head>

  <body>

      <div class="text-center fixed-bottom">
        <a class="btn btn-light" href="/form_event" role="button">Créer un Event</a>
      </div>

      <div class="container col-sm-8 text-white">

          <hr>
            <div class="shadow-lg p-3 mb-5 rounded text-center" style="background-color: transparent;">
              <h1>Events</h1>
            </div>  

            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="{% static "images/random_carou.jpg" %}" class="d-block w-100" alt="Image: Cannot Display" width="300">
                </div>
                <div class="carousel-item">
                  <img src="{% static "images/Test_carou.jpg" %}" class="d-block w-100"  alt="Image: Cannot Display" width="300">
                </div>
                <div class="carousel-item">
                  <img src="{% static "images/dessin_carou.jpg" %}" class="d-block w-100"  alt="Image: Cannot Display" width="300">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Précédent</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Suivant</span>
              </a>
            </div>            


            <div class="card" style="background-color: transparent;">
               <div class="card-header text-center"> Informations </div>
                <div class="card-body">
                    <h5 class="card-title" style=""> Bonjour {{ user.name }}. </h5>
                    <p class="card-text">Epita est une école d’ingénieurs située sur le campus Paris Sud. Depuis sa création en 1984, l'EPITA est la première école d'ingénieurs spécialisés en informatique à Paris. Elle prépare ses étudiants passionnés aux métiers de l'ingénierie et du numérique pour construire le monde de demain.</p>  
                    <div class="text-center"></div>
               </div>
            </div>
            <div class="card" style="background-color: transparent;">
               <div class="card-header text-center"> Sur ce site  </div>
                <div class="card-body">
                    <h5 class="card-title" style=""></h5>
                    <p class="card-text"> En tant que membre, vous avez accès aux events dont la creation à été validée. Vous pourrez donc consulter les informations liées aux différents évènements.  
                    </p><p>Vous trouverez ici le calendrier sous forme .ics:
                    <a href="static/events.ics" download>events.ics</a></p>
               </div>
            </div>
            <div class="card" style="background-color: transparent;">
               <div class="card-header text-center"> events Premium ? </div>
                <div class="card-body">
                    <h5 class="card-title" style=""></h5>
                    <p class="card-text">Les events avec un statut Premium correspondent à des évènements tout à fait normaux. Cette appellation n’intervient que lors de l’étape de validation d’un évènement.</p>  
                    <div class="text-center"></div>
               </div>
            </div>
              <hr>
            <!--img src="{% static 'images/textbg2.png' %}"-->
            

  <div class="container">

  {% for event in events %}

    <div class="row row-striped">
      <div class="col-2 text-right">
        <h1 class="display-4"><span class="badge badge-secondary">{{ event.get_day }}</span></h1>
        <h2 style="font-size:26px;padding-right:5px;">{{ event.get_month }}</h2>
      </div>
      <div class="col-10">
        <h3 class="text-uppercase"><strong>{{ event.name }}</strong></h3>
        <ul class="list-inline">
          <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ event.get_begin_hour }} - {{ event.get_end_hour }}</li>
          <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> KB</li>
          <li class="list-inline-item">-</li>
          <li class="list-inline-item">organisé par <a href="/asso/{{ event.association_id}}" style="color:white;"><strong>{{ event.association_id }}</strong></a></li>
        </ul>
        <ul class="list-inline">
            <li class="list-inline-item">{{ event.0.description }}</li>
        </ul>
      </div>
    </div>
  {% endfor %}


          </div>
      </div>

      <footer class="footer">
          <div class="container position-bottom text-center text-white">
          <span class="text-muted">By Yakassoulet©</span>
          </div>
      </footer>


  </body>
