{% load static %}


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>

{% include 'try_menu.html' with is_admin=is_administration %}

<div class="container col-sm-8 text-light "> 
       <div class="shadow-lg p-3 mb-5 rounded text-center text-white" style="background-color: #0d2436">              
            <br>
            <h1>Statistiques</h1>
        </div>


        <div style="color:white;margin-top:40px;margin-left:30px;">

        <p>Personnes inscrites sur le site : {{ nb_person }}</p>
        <p>Personnes membres de l'administration : {{ nb_adm }}</p>
        <p>Etudiants : {{ nb_student }}</p>
        <p>Nombre d'associations : {{ nb_association }}</p>

        <p style="font-weight:bold;">Nombre de membres par association :</p>
        <table>
            <thead>
                <tr>
                    <th scope="col" style="font-weight:normal;">Association</th>
                    <th scope="col" style="font-weight:normal;">Nombre de membres</th>
                </tr>
            </thead>

            <tbody>
            {% for member in members %}
                <tr>
                    <td style="padding-top:5px;border: 2px solid #EEEEEE;background-color:#808080;"><a href="/asso/{{ member.0 }}" style="color:white; text-decoration:underline;">{{ member.0 }}</a></td>
                    <td style="padding-top:5px;border: 2px solid #EEEEEE;background-color:#808080;">{{ member.1 }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <p style="font-weight:bold;margin-top:20px;">Status des événements :</p>
        <table>
            <thead>
                <tr>
                    <th scope="col" style="font-weight:normal;">Evénement</th>
                    <th scope="col" style="font-weight:normal;">Date</th>
                    <th scope="col" style="font-weight:normal;">Association</th>
                    <th scope="col" style="font-weight:normal;">Status</th>
                </tr>
            </thead>

            <tbody>
            {% for event in events %}
                <tr>
                    <td style="padding-top:5px;border: 2px solid #EEEEEE;background-color:#808080;"><a href="/pdf/{{ event.0 }}" style="color:white; text-decoration:underline;">{{ event.0 }}</a></td>
                    <td style="padding-top:5px;border: 2px solid #EEEEEE;background-color:#808080;">{{ event.1 }}</td>
                    <td style="padding-top:5px;border: 2px solid #EEEEEE;background-color:#808080;"><a href="/asso/{{ event.3 }}" style="color:white; text-decoration:underline;">{{ event.3 }}</a></td>
                    <td style="padding-top:5px;border: 2px solid #EEEEEE;background-color:#808080;">{{ event.2 }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
</div>
