{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="">
    <title>Events</title>


    <!--Bootstrap link to make it work-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'events.css' %}">

    {% include 'try_menu.html' with is_admin=is_administration %}
</head>

<body>
    <div class="container col-sm-8 text-white" style="">

        <div class="shadow-lg p-3 mb-5 rounded text-center text-white" style="background-color: #0d2436">
            <hr>
            <h1>Information Association</h1>
        </div>

        {% if asso %}
        <div class="card text-center" style="background-color: transparent" >
            <div class="card-header">
                {{ asso.name }}
            </div>
            <div class="card-body">
                <div class="media text-left">
                    <div class="row1">
                        <div class="col-sm-4">
                            <img src="{% static asso.getPath %}" class="mr-3" alt="Image: cannot display image" width="200">
                        </div>

                        {% if can_add_del != 0 %}
                        <div class="col-sm-4">
                            <hr>
                            <a href="/member_add/{{ asso.name }}" class="btn btn-light">Ajouter un membre</a>


                        </div>
                        <div class="col-sm-4">
                            <hr>
                            <a href="/member_del/{{ asso.name }}" class="btn btn-light">Retirer un membre</a>
                        </div>
                        {% endif %}

                        {% if is_respo_asso %}
                        <div class="col-sm-4">
                            <hr>
                            <a href="/asso_del/{{ asso.name }}" class="btn btn-danger">Supprimer Association</a>
                        </div>
                        {% endif %}

                    </div>
                        
                    <div class="media-body">
                        <h5 class="mt-0 card-title">Description de l'association</h5>
                        {% for line in description %}
                            {{ line }}
                            <br>
                        {% endfor %}
                    </div>
                </div>
                <div class="row2">
                    <div class="media-body">
                    <hr>
                        <h5 class="mt-0 card-title"><a href="/profils/{{president.name}}">Profil du Président / de la Présidente</a></h5>
                    </div>
                </div>
                
                <div class="card-header">
                Membres de l'association
                </div>
                <div class="card-body">
                <div class="row3">
                    <div class="media-body">
                        {% if member_list %}
                        <table class="table table-striped table-light text-dark table-bordered table-responsive-sm">
                        <thead>
                            <tr>
                            <th scope="col">Nom</th>
                            <th scope="col">Numéro de téléphone</th>
                            <th scope="col">Date d'inscription</th>
                            </tr>
                        </thead>

                        <tbody>
                        {% for p in member_list %}
                            <tr>
                            <td><a href="/profils/{{ p.person_id.name }}">{{ p.person_id.name }}</a></td>
                            <td>{{ p.person_id.telephone }}</td>
                            <td>{{ p.person_id.inscription_date }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        </table>
        {% else %}
        <div class="text-center">
            <p>Aucun profil de membre disponible.</p>
        </div>
        </div>
        {% endif %}

                    </div>

                </div>

            </div>
            <div class="card-footer text-muted">
                <p> Date de creation de l'association : {{ asso.creation_date }}</p>
            </div>
        </div>
        {% endif %}
    </div>
</body>
