{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="author" content="">
		<title>Asso</title>


		<!--Bootstrap link to make it work-->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

		<link rel="stylesheet" type="text/css" href="{% static 'asso.css' %}">

		{% include 'try_menu.html' with is_admin=is_administration %}
	</head>

	<body>
	{% if is_respo_asso %}
		<div class="text-center fixed-bottom">
				<a class="btn btn-light" href="/create_asso" role="button">Créer une association</a>
		</div>
	{% endif %}
		<div class="container col-sm-8 text-white text-center">

	        <div class="shadow-lg p-3 mb-5 rounded text-center text-white" style="background-color: #0d2436">
	            <br>
	            <h1>Liste des Associations</h1>
	        </div>
  			<!--img src="{% static 'images/textbg2.png' %}"-->

			<hr>
			<div class="text-dark">
			{% if associations %}
			       <div class="row">
			            {% for asso in associations %}
			                <div class="card text-center " style="width: 18rem;">
			                    <div class="text-center">
			                        <img class="card-img-top" src="{% static asso.getPath %}" alt="Card image cap">
			                    </div>
			                    <div class="card-body">
			                        <h5 class="card-title">{{ asso.name }}</h5>
			                        <p class="card-text">Date de  création : {{ asso.creation_date }}</p>
			                        <a href="/asso/{{ asso.name }}" class="btn btn-primary">More informations</a>
			                    </div>
			                </div>
			            {% endfor %}
			        </div>
			    {% else %}
			    	<div class="text-light">
			        	<p>Aucune association disponible.</p>
			    	</div>
			{% endif %}
		</div>

		</div>
	</body>
