{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="">
    <title>Merci</title>


    <!--Bootstrap link to make it work-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'redirect.css' %}">
    <style>
        html {
            background: url("{% static 'images/bg_404.png' %}");
        }
    </style>
</head>

<body>

<div class="container redirection-page col-sm-8 text-white text-center mx-auto">
    <h1>Vous n'êtes pas autorisé à accéder à cette page.</h1>
    <p>Vous allez maintenant être redirigé.</p>
    <meta http-equiv="refresh" content="3;url=/">
</div>
</body>
