{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="">
    <title>Profils</title>


    <!--Bootstrap link to make it work-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'style2.css' %}">

    {% include 'try_menu.html' with is_admin=is_administration %}
</head>
<body>
<div class="container col-sm-8">
            <div class="shadow-lg p-3 mb-5 rounded text-center text-white" style="background-color: #0d2436">
                <br>
                {% if profil.name == user.name %}
                <h1>Mon Profil</h1>
                {% else %}
                <h1>Profil de {{profil.name}}</h1>
                {% endif %}
            </div>

            <div class="text-center">
            <img class="rounded-top rounded-bottom" src="https://photos.cri.epita.fr/thumb/{{profil.name}}" width="100" alt="{{profil.name}}"/>
            </div>

    <hr>
    <div>
        <table class="table table-striped table-light table-bordered table-responsive-sm">
            <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Numéro de téléphone</th>
                <th scope="col">Date d'inscription</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>{{ profil.name }}</td>
                <td>{{ profil.telephone }}</td>
                <td>{{ profil.inscription_date }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="container col-sm-8">
        <div class="text-center text-light">
            <hr>
            <h1>Associations</h1>
            </hr>
        </div>
        {% if asso_list %}
        <table class="table table-striped table-light text-dark table-bordered table-responsive-sm">
            <thead>
                <tr>
                    <th scope="col">Association</th>
                    <th scope="col">Rôle</th>
                </tr>
            </thead>
            <tbody>
            {% for asso in asso_list %}
                <tr>
                    <td><a href="/asso/{{ asso.0 }}">{{ asso.0 }}</a></td>
                    <td>{{ asso.1 }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="text-center">
            <p>Cet utilisateur n'est membre d'aucune association.</p>
        </div>
        {% endif %}
    </div>
    
    {% if is_own_profile %}
    <div style="color: white;padding-top: 50px;">
        {% if events_to_valid %}
            <p>Fiches Event à valider : </p>
            {% for event in events_to_valid %}
                <p>{{ event.name }} : <a href="/pdf/{{ event.name }}">Fiche Event</a> - <a href="/sign/{{ event.name }}">Signer</a> - <a href="/reject/{{event.name}}">Rejeter</a>
                {% if is_respo_asso %}
                - <a href="/premium/{{ event.name }}">Premium</a>
                - <a href="/add_asso_event/{{ event.name }}">Ajouter des assos à l'Event</a>
                {% endif %}
                </p>
            {% endfor %}
        {% else %}
            <p>Aucune Fiche Event à valider.</p>
        {% endif %}
    </div>
    {% endif %}
</div>
</body>

</html>
