{% load static %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

{% include 'try_menu.html' with is_admin=is_administration %}

    <div class="container col-sm-8 text-light">
        <div class="shadow-lg p-3 mb-5 rounded text-center text-white" style="background-color: #0d2436">
                <br>
                <h1>Profils</h1>
        </div>
        
        <hr>
        <div>
        {% if profils %}
            <table class="table table-striped table-light table-bordered table-responsive-sm">
                <thead>
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Numéro de téléphone</th>
                        <th scope="col">Date d'inscription</th>
                    </tr>
                </thead>

                <tbody>
                {% for p in profils %}
                    <tr>
                        <td><a href="profils/{{ p.name }}">{{ p.name }}</a></td>
                        <td>{{ p.telephone }}</td>
                        <td>{{ p.inscription_date }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
        <div class="text-center">
            <p>Aucun profil disponible.</p>
        </div>

        {% endif %}
        </div>
        </div>
    </body>

</html>
