{% load static %}

<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>TP : Un système d'auto-complétion</title>

    <link rel="stylesheet" type="text/css" href="{% static 'drop-down-menu.css' %}"/>
  </head>

  <body>

    <input id="search" type="text" autocomplete="off">

    <div id="results"></div>

    <script type="text/javascript" src="/static/auto_completion.js"></script>

    <script type="text/javascript">
        autocomp("{{ persons }}");
    </script>


</body></html>
