{% load static %}
<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" type="text/css" href="{% static 'style2.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- fixed navigation bar -->
    <nav class="navbar navbar-expand-md navbar-light navbar-custom" style="background-color: #00435f">
      <a class="navbar-brand" href="/accueil">Events Tenders</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse" style>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/accueil">
              Accueil<span class="sr-only">(current)</span>
            </a>
          </li>

          <li class="nav-item">
              <a class="nav-link" href="/events">Events</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/asso">Associations</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/profils">Profils</a>
          </li>

            {% if is_admin %}
          <li class="nav-item">
            <a class="nav-link" href="/stats">Stats</a>
          </li>
            {% endif %}
            
            <li class="nav-item">
                <a class="nav-link" href="/profils/{{user.name}}">Mon profil</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url "logout" %}">Déconnexion</a>
            </li>
        </ul>

        </div>
    </nav>
</html>
